Source: proxmox-backup
Section: admin
Priority: optional
Maintainer: Proxmox Support Team <support@proxmox.com>
Build-Depends: bash-completion,
               debhelper (>= 10),
               python3-docutils,
	       python3-sphinx,
               libzstd-dev,
               libpam0g-dev,
               pkg-config,
Standards-Version: 3.9.5
Homepage: https://www.proxmox.com

Package: proxmox-backup
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
	 libjs-extjs (>= 6.0.1),
	 fonts-font-awesome,
	 proxmox-widget-toolkit,
	 libzstd1,
Description: Proxmox Backup Server
 This is experimental code used to test Rust.
