[Unit]
Description=Proxmox API Test Server
ConditionPathExists=/usr/sbin/proxmox-backup-api
After=syslog.service
After=network.target

[Service]
ExecStart=/usr/sbin/proxmox-backup-api start
Type=simple
Restart=on-failure

[Install]
WantedBy=multi-user.target
