#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#DH_VERBOSE = 1

export BUILD_MODE=release

%:
	dh $@ --with=bash-completion

override_dh_auto_build:
	dh_auto_build -- \
	    PROXY_USER=backup \
	    LIBDIR=/usr/lib/$(DEB_HOST_MULTIARCH)

override_dh_missing:
	dh_missing --fail-missing

override_dh_auto_install:
	dh_auto_install -- \
	    PROXY_USER=backup \
	    LIBDIR=/usr/lib/$(DEB_HOST_MULTIARCH)

override_dh_installinit:
	dh_installinit
	dh_installinit --name proxmox-backup-proxy

# workaround https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=933541
# TODO: remove once available (Debian 11 ?)
override_dh_dwz:
	dh_dwz --no-dwz-multifile
