#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
DH_VERBOSE = 1

include /usr/share/dpkg/pkg-info.mk
include /usr/share/rustc/architecture.mk

export BUILD_MODE=release

CARGO=/usr/share/cargo/bin/cargo

export CFLAGS CXXFLAGS CPPFLAGS LDFLAGS
export DEB_HOST_RUST_TYPE DEB_HOST_GNU_TYPE
export CARGO_HOME = $(CURDIR)/debian/cargo_home

export DEB_CARGO_CRATE=proxmox-backup_$(DEB_VERSION_UPSTREAM)
export DEB_CARGO_PACKAGE=proxmox-backup

ifneq ("$(wildcard .repoid)","")
	export REPOID=$(shell cat .repoid)
endif

%:
	dh $@ --with=bash-completion

override_dh_auto_configure:
	@perl -ne 'if (/^version\s*=\s*"(\d+(?:\.\d+)+)"/) { my $$v_cargo = $$1; my $$v_deb = "$(DEB_VERSION_UPSTREAM)"; \
	    die "ERROR: d/changelog <-> Cargo.toml version mismatch: $$v_cargo != $$v_deb\n" if $$v_cargo ne $$v_deb; exit(0); }' Cargo.toml
	$(CARGO) prepare-debian $(CURDIR)/debian/cargo_registry --link-from-system
	dh_auto_configure

override_dh_auto_build:
	dh_auto_build -- \
	    PROXY_USER=backup \
	    LIBDIR=/usr/lib/$(DEB_HOST_MULTIARCH)

override_dh_missing:
	dh_missing --fail-missing

override_dh_auto_install:
	dh_auto_install -- \
	    PROXY_USER=backup \
	    LIBDIR=/usr/lib/$(DEB_HOST_MULTIARCH)

override_dh_installsystemd:
	dh_installsystemd -pproxmox-backup-server  proxmox-backup-daily-update.timer
	# note: we start/try-reload-restart services manually in postinst
	dh_installsystemd --no-start --no-restart-after-upgrade --no-stop-on-upgrade

override_dh_fixperms:
	dh_fixperms --exclude sg-tape-cmd

override_dh_strip:
	dh_strip
	for exe in $$(find \
	    debian/proxmox-backup-client/usr \
	    debian/proxmox-backup-server/usr \
	    debian/proxmox-backup-file-restore \
	    -executable -type f); do \
	  debian/scripts/elf-strip-unused-dependencies.sh "$$exe" || true; \
	done

override_dh_compress:
	dh_compress -X.pdf
